[submodule "backend"]
	path = backend
	url = https://github.com/Vitorfol/Agendai-APS.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/VictorManoel-Timbo/Agendai.git
	branch = feature/front-docker
